<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">MidAPP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="Home">Home
              <span class="visually-hidden">(current)</span>
            </a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">DataBinding</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="Interpolation">Interpolation Binding</a>
              <a class="dropdown-item" routerLink="Property">Property Binding</a>
              <a class="dropdown-item" routerLink="Event">Event Binding</a>
              <a class="dropdown-item" routerLink="Two-way">Two-way Binding</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Others</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="Style">Style Binding</a>
              <a class="dropdown-item" routerLink="Attribute">Attributes Binding</a>
              <a class="dropdown-item" routerLink="Class">Class Binding</a>
              <a class="dropdown-item" routerLink="product">Products</a>
              <a class="dropdown-item" routerLink="product0">Product-Detail</a>
              <a class="dropdown-item" routerLink="ProductsList">Product-List</a>
              <a class="dropdown-item" routerLink="/suppliers">Suppliers List</a>
              <a class="dropdown-item" routerLink="/suppliers/1">Supplier Details</a>

            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
